<!DOCTYPE html>
<html id="html" lang="es">

<head>
  <meta charset="UTF-8">
  <title>Renta de Carros</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/icos/all.css">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/styleUserData.css">
</head>

<body>
  <div class="temp" role="status" style="background-color: white; height: 100vh; width: 100vw; position: absolute; z-index: 9999;">
    <span>Loading...</span>
    <script>
      var t = 1;

      function update(a) {
        t = a;
        var bar = document.getElementById('bar');
        if (bar) bar.style = `width: ${t}%`;
      }
      setTimeout(function() {
        document.getElementsByClassName('temp')[0].innerHTML = `<span class="visually-hidden">Loading...</span><div class="spinner-border" style="width: 5rem; height: 5rem; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;"></div><style>#bar {transition: width 3s;}</style><div class="progress" style="margin-top: 70vh; margin-left: auto; margin-right: auto; width: 50vw;"><div class="progress-bar" id="bar" role="progressbar" style="width: ${t}%"></div></div>`;
      }, 1000);
    </script>
  </div>
  <header class="page-header" hidden>
    <!--<nav role="navigation">
        
        </nav>-->
    <nav role="navigation" class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <a class="navbar-brand" href="/"> <img src="/logos/6.png" alt="Cuaba-Group" id="logo"> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li>
              <a class="nav-link active" href="#">Renta de Autos</a>
            </li>
            <li>
              <a class="nav-link" href="#">Hoteles</a>
            </li>
            <li>
              <a class="nav-link" href="#">Viajes</a>
            </li>
            <li>
              <a class="nav-link" href="#">Casas particulares</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>

  </header>

  <script class="temp">
    update(10);
  </script>

  <div class="cont" hidden>

    <div class="sidebar">
      <form method="get" action="/" class="formside mt-3" id="formside">

        <h5 class="mx-3 mt-3">Información del cliente</h5>

        <div class="form-floating mx-3 mt-3">
          <input type="text" class="form-control" placeholder="">
          <label>Nombre y apellidos</label>
          <div id="invalidName" class="invalid-feedback"></div>
        </div>

        <div class="form-floating mx-3 mt-3">
          <input type="text" class="form-control" placeholder="">
          <label>Número de pasaporte</label>
          <div id="invalidPasaport" class="invalid-feedback"></div>
        </div>

        <div class="form-floating mx-3 mt-3">
          <input type="email" class="form-control" placeholder="">
          <label>Correo electrónico</label>
          <div id="invalidEmail" class="invalid-feedback"></div>
        </div>

        <div class="form-floating mx-3 mt-3">
          <input type="email" class="form-control" placeholder="">
          <label>Confirmación del correo electrónico</label>
          <div id="invalidEmailConfirm" class="invalid-feedback"></div>
        </div>

        <div class="form-floating mx-3 mt-3">
          <input type="tel" class="form-control" placeholder="">
          <label>Número de teléfono</label>
          <div id="invalidPhone" class="invalid-feedback"></div>
        </div>

        <div class="form-check mx-3 mt-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            He leído, entendido y estoy de acuerdo con las condiciones de reserva.
          </label>
          <div id="invalidAgree" class="invalid-feedback"></div>
        </div>

        <button type="submit" id="btnReservar" class="btn btn-outline-danger mx-3 mt-3 mb-3">Reservar</button>

      </form>
    </div>

    <script class="temp">
      update(20);
    </script>

    <div class="layout flex-grow-1 px-4">
        <h2 class="d-inline-block mx-3 mt-4">Precio total</h2>
        <h2 class="float-end align-middle mx-4 mt-4">$317</h2>
        <hr class="m-0 mt-3 mb-4">
    
        <div class="reservaInfo">
            <div class="row g-0">
                <div class="col text-center">
                    <h3 class="mt-3">Renta de Autos</h3>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-3 position-relative px-3">
                    <img src="/logos/<%= idProveedor %>.png" class="logo position-absolute">
                    <img src="/Carros/<%= idAuto %>.jpg" class="imgAuto" alt="Auto">
                    <h6><%= marca %> <%= modelo %></h6>
                </div>
                <div class="col-6">
                    <h5>Categoría <%= categoria %></h5>
                    <h5>Transmisión <%= transmision %></h5>
                </div>
                <div class="col-3">
                    <div id="infoCost">
                        <% var costoTotal = costo*(diasReservados + (dropoffTime > pickupTime))%>
                        <h1 class="costoTotal">$<%= costoTotal %></h1>
                        <br>
                        <span id="costoTotalDs" class="fw-bold d-block">
                        Renta: $<%= costo %> x <%= diasReservados + (dropoffTime > pickupTime) %> días = $<%= costoTotal %></span>
                        <span class="fw-bold d-block">Tanque de gasolina: $42</span>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col">
                    <h5>Recogida</h5>
                    <hr>
                    <dl>
                        <dt>Lugar</dt>
                        <dd></dd>
                        <dt>Fecha</dt>
                        <dd><%= pickDate %></dd>
                        <dt>Hora</dt>
                        <dd><%= pickupTime %></dd>
                    </dl>
                </div>
                <div class="col">
                    <h5>Devolución</h5>
                    <hr>
                    <dl>
                        <dt>Lugar</dt>
                        <dd></dd>
                        <dt>Fecha</dt>
                        <dd><%= dropDate %></dd>
                        <dt>Hora</dt>
                        <dd><%= dropoffTime %></dd>
                    </dl>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-5">
                    <div class="form-floating mx-2 mt-2">
                        <input type="text" class="form-control" placeholder="">
                        <label>Nombre y apellidos</label>
                        <div id="invalidName2" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="form-floating mx-2 mt-2">
                        <input type="text" class="form-control" placeholder="">
                        <label>Número de pasaporte</label>
                        <div id="invalidPasaport2" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-floating mx-2 mt-2">
                        <input type="number" class="form-control" placeholder="">
                        <label>Edad</label>
                        <div id="invalidAge" class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="row g-0">
                <div class="col">
                    <div class="form-check mx-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Los datos del conductor coinciden con los del cliente.
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script class="temp">
      update(30);
    </script>
  </div>

  <footer class="mt-4" hidden>

    <div class="d-flex flex-row mt-2 logos">
      <img src="/logos/1.png" alt="cubacar">
      <img src="/logos/2.png" alt="havanautos">
      <img src="/logos/3.png" alt="rex">
      <img src="/logos/4.png" alt="via">
      <img src="/logos/5.png" alt="cuba on the road">
    </div>

    <div class="d-flex flex-row fend">
      <div class="text-center info">
        <i class="fas fa-copyright"></i> 2024 Cuabagroup, todos los derechos reservados.
      </div>

      <div class="text-center info">
        <i class="fas fa-map-marker-alt"></i> Plaza San Miguel, No.8, 2do Exterior Derecha, 28005, Madrid, España.
      </div>

      <div class="text-center info">
        <i class="fas fa-mobile"></i> <i class="fas fa-comment-alt"></i> <a href="tel:+53 5 388 9896" class="d-inline-block" id="ph1">+53 5 388 9896</a> <a href="tel:+34 622 590 002" class="d-inline-block" id="ph2">+34 622 590 002</a>
        <a class="d-inline-block" href="mailto:consulting@cuabagroup.com"><i class="fas fa-mail-bulk"></i> consulting@cuabagroup.com</a>
      </div>
    </div>

  </footer>

  <script class="temp">
    update(40);
  </script>

  <script src="/jquery.slim.min.js"></script>
  <script class="temp">
    update(50);
  </script>
  <script src="/popper.min.js"></script>
  <script class="temp">
    update(70);
  </script>
  <script src="/jquery.min.js"></script>
  <script class="temp">
    update(80);
  </script>
  <script src="/icos/all.js"></script>
  <script class="temp">
    update(90);
  </script>
  <script src="/bootstrap.bundle.min.js"></script>
  <script class="temp">
    update(100);
  </script>
  <script src="/scriptUserData.js"></script>
</body>

</html>